
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Poppins&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    }
    
    body{
    
    font-family: "Poppins", sans-serif;
    }

  
    
    
  nav {
    background: #3e2501;
    padding: 5px 20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .menu li {
    
    padding: 15px 5px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 5px 5px;
    margin: 9px;
  }
  
  .menu li a {
    display: block;
  }
  
  .logo a {
    font-size: 20px;
  }
    
  .logo img{
    width: 60px; 
    margin-right: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  
  .toggle {
    cursor: pointer;
  }
  
  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
  }
  
  .bars::before,
  .bars::after {
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
  }
  
  .bars::before {
    top: 5px;
  }
  
  .bars::after {
    top: -5px;
  }
  
  /* Mobile Menu  */
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggle {
    order: 1;
  }
  
  .item.button {
    order: 2;
  }
  
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  
  
  .item.active{
    display: block;
  }
  
  /* Tablet Menu  */
  
  @media all and (min-width: 468px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
  
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
  
    .toggle {
      order: 2;
    }
  
    .button.secondary {
      border: 0;
    }
  
    .button a {
      text-decoration: none;
     
      
    }
  
    .button.secondary a {
      background: transparent;
    }
  
    .button a:hover {
      transition: all 0.25s;
    }
    .button:not(.secondary) a:hover {
     color: #ddd;
      
    }
  
    .button.secondary a:hover {
      color: #ddd;
    }
  }
  
  @media all and (min-width: 768px) {
    .item {
      display: block;
      width: auto;
    }
    .toggle {
      display: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
    }
    .button {
      order: 2px;
    }
    .menu li {
      padding: 15px 10px;
    }
    .menu li.button {
      padding-right: 0;
    }
  }
  


.container{
    display: flex;
    flex-direction: column;
    background: black;
    
}


.container .box{
    
    display: flex;
    flex-direction: row;
     justify-content: space-between;
     padding: 20px 85px 20px 85px;
}


.container .box .dream{
    flex-direction: column; 
   display: flex;
padding: 15px;
   }

.container .box .dream .content{
    
}

.container .box .dream .content img{
width: 100%;
    padding-bottom: 20px;
    border-radius: 5px;
    padding-top: 30px;
}

.container .box .dream .content h2{
    font-size: 16px;
    color: white;
    font-family: pt serif;
    font-weight: 100;
    margin-bottom: 5px;
}

.container .box .dream .content h1{
color: white;
font-weight: 500;
font-size: 22px;
letter-spacing: 1px;
line-height: 27px;
margin-bottom: 20px;
}

.container .box .dream .content h3{
    color: white;
    font-size: 15px;
    width: 610px;
    font-weight: 100;
    margin-bottom: 15px;
}


.container .box .dream .content .button{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200;
    padding: 5px 10px;
    color: black;
    /* background-color:rgb(164, 44, 44); */
    background: linear-gradient(135deg, rgb(163, 163, 163), #f4e4e4);
    
backdrop-filter: blur (10px); 
-webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    text-decoration: none;
    transition: ease 0.30s;
    margin-bottom: 30px;
}



  
.footer{
    margin-top: 80px;
    background-color: black;
  }
  
  .foot{
    padding: 20px 0;
  }
  
  .footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  
  .footlinks h4{
    margin-top: 25px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
    position: relative;
  }
  
  
  
  .social{
    margin-top: 20px;
  }
  .social a{
    font-size: 25px;
    margin: 4px;
    height: 40px;
    width: 40px;
    color: black;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: ease 0.30s;
  }
  
  .social a:hover{
    transform: scale(1.2);
  }
  
  .end{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 12px;
  }
  
  .end p{
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    font-weight: 400;
  }
  