@import url('https://fonts.googleapis.com/ css2?family=Poppins: wght@200; 300; 400; 500; 600; 700; 800;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Poppins&family=Roboto:wght@300&display=swap');


 *{

margin: 0;

padding: 0;

box-sizing: border-box;

font-family: 'Poppins', sans-serif;

}

   
.section1{
    background: rgb(35, 34, 34);
    min-height: 35vh;
color: #fcb900;
}
 .s1 {
    position: absolute;
justify-content: center;
margin-top: 13vh;
margin-left: 64vh;

}
.s1 h1{
    font-size: 40px;
    text-transform: uppercase;
    font-family: roboto;
    font-weight: bold;
    letter-spacing: 3px;

}


.contact

 {

position: relative;
min-height: 100vh;
padding: 10px 0px;
display: flex;

flex-direction: column;
background: black;


 } 

.container{

    width: 100%;
    display: flex;
    justify-content: center;
    
    align-items: center;
    margin-top: 30px;
     }

     .container .contactInfo

 {
width: 50%;
display: flex;
flex-direction: column;

 }

.container .contactInfo .box{
position: relative;
padding: 20px 0;

}

.container .contactInfo .box h2{

font-size: 16px;
color: white;
font-family: pt serif;
font-weight: 100;
margin-bottom: 10px;
margin-left: 20px;

}

.container .contactInfo .box h1{
    color: #fff;
    font-weight: lighter;
    font-family: roboto;
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 18px;

margin-left: 20px;
}


.container .contactInfo .box p{
    color: #fff;
    margin-left: 20px;
    font-size: 15px;
    font-family: arial;
    line-height: 24px;
    margin-bottom: 8px;
}

.container .contactInfo .box h3{
    color: #fff;
    font-weight: 590;
    font-family: roboto;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 18px;
margin-top: 20px;
margin-left: 20px;
}

.container .contactInfo .box li{
    color: #fff;
    font-size: 15px;
    font-family: arial;
    margin-bottom:7px ;
}

.container .contactInfo .box h4{
    margin-top: 30px;
    color: #fff;
    margin-left: 20px;
    font-family: arial;
    font-size: 15px;
    font-weight: lighter;
}
.container .contactInfo .box h4 span{
    font-weight: 800;
}

.contactForm

{
 width: 35%;
padding: 35px;
background: #fff;
 }

.contactForm h2
 {

font-size: 30px;
color: #333;
font-weight: 500;
 }

.contactForm .inputBox
{
position: relative;
width: 100%;
margin-top: 10px;
}


.contactForm .input-field label{
    
    text-transform: uppercase;
    
}

.contactForm .input-field label span{
    color: red;
}
.contactForm .inputBox input
{
width: 100%;
padding: 5px 0;
font-size: 14px;
margin: 10px 0;
border: none;
background: #333;
height: 46px;
outline: none;
resize: none;
color: #fff;
padding-left: 15px;
padding-top: 10px;
}

.contactForm .inputBox .upload-box{
    
    font-size: 5px;
    align-items: center;
padding: 5px 0;

}

.contactForm .inputBox textarea{
    width: 100%;
padding: 5px 0;
font-size: 16px;
margin: 10px 0;
border: none;
background: #333;
height: 100px;
color: #fff;
padding-left: 15px;
outline: none;
resize: none;
}


.contactForm .inputBox input[type="checkbox"]{
    height: 14px;
    width: 14px;
}

.contactForm .inputBox input[type="submit"]
{
width: 80px;
background: #af9d17;
color: #fff;
border: none;
border-radius: 10px;
cursor: pointer;
padding: 10px;
font-size: 15px;
}

@media (max-width: 991px)
{
.contact
{
padding: 50px;
}

.container

{
flex-direction: column;

}

.container.contactInfo
{
margin-bottom: 40px;
}

.container .contactInfo,
.contactForm
{
width: 100%;}
}