
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Poppins&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;
    }
    
    body{
    
    font-family: "Poppins", sans-serif;
    }
    
    a, a:hover{
    
    text-decoration: none;
    }
   
                
              

.dhead{
    background: rgb(42, 41, 41);
    min-height: 35vh;
color: #fcb900;
}
 .dphy {
    position: absolute;
justify-content: center;
margin-top: 13vh;
margin-left: 65vh;

}
.dphy{
    font-size: 34px;
    text-transform: uppercase;
    font-family: roboto;
    font-weight: 100;
    letter-spacing: 3px;

}

.designs{
    display: grid;
    background: black;
    min-height: 100vh;
}


.designs-content{
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
padding: 20px;
font-family: pt serif;

}


.designs-content p{
    color: #fcb900; 
    font-size: 22px;
    line-height: 40px;
    font-weight: 200;
}


.multiple-designs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px
}

.multiple-designs img{
    border-radius: 0px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transform: 400ms;
}

.multiple-designs .image h1{
    color: #fcb900; 
    font-size: 20px;
    line-height: 40px;
    font-weight: 200;
    text-transform: uppercase;
    font-family: roboto;
    font-weight: 100;
    letter-spacing: 2px;

    margin: 7px;
}




















